@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="hero">
    <h2 class="hero-title text-center"> Hello, We are Here to solve your problems through our code</h2>

</section>

<section class="contact-info text-center bg-primary text-white" id="Contact">
    <h3>You can contact us at anytime </h3>
    <p> E-mail: <a href="codemonks@gmail.com" class="link">codemonks@gmail.com</a></p>
    <p> Address: 656 Siene Dr West Apt, K12, Cincinatti, Ohio - 45001</p>
    <p> Phone No: +15132234567</p>
</section>

<section class="services m-5">
        <h4 class="text-center p-5"> SERVICES </h4>
        <div class="d-flex justify-content-evenly">
            <div class="service">
                <h5 class="service-name"> WEB DESIGN</h5>
                <p class="about-service"> We make astonishing web design for our clients</p>
            </div>
            <div class="service">
                <h5 class="service-name">GRAPHIC DESIGN</h5>
                <p class="about-service"> We have a amazing team of graphic designers who can create a brand identity and unique logos</p>
            </div>
            <div class="service">
                <h5 class="service-name">CONTENT CREATION & WRITING</h5>
                <p class="about-service"> Our impeccable team of content writer makes your websites more iconic and easily recognisable</p>
            </div>
        </div>
   
</section>

<section class="testimonials-sec m-5">
    <h4 class="text-center p-5">TESTIMONIALS</h4>
    <div class="d-flex justify-content-evenly">
        <div class="testimonial">
            <p class="feedback">" Thanks to the team of code monks. they helped our e-commerce website have better engagement with there content management services"</p>
            <div class="testimonial-details">
                <div class="testi-profile">

                </div>
                <div class="about-testi">
                    <h5 class="testi-name">Akash</h5>
                    <p class="testi-about">An Employee of TCS</p>
                </div>
            </div>
        </div>
        <div class="testimonial">
            <p class="feedback">" Splendid! I've received an attractive and trendy logo for my start up. Thanks to code monks for their amazing services"</p>
            <div class="testimonial-details">
                <div class="testi-profile">

                </div>
                <div class="about-testi">
                    <h5 class="testi-name">Shiva</h5>
                    <p class="testi-about">An Employee of Cybase</p>
                </div>
            </div>
        </div>
        <div class="testimonial">
            <p class="feedback">" These people are amazing.</br>They have provided me with a quality design and responsive website."</p>
            <div class="testimonial-details">
                <div class="testi-profile">

                </div>
                <div class="about-testi">
                    <h5 class="testi-name">Nikhil</h5>
                    <p class="testi-about">An Employee of Exinos</p>
                </div>
            </div>
        </div>
    </div>
</section>