@page
@model OurTeanModel{

ViewData["Title"] = "Our Team";
}

<div class="our-team m-5">
<h4 class="text-center p-5">Our Team</h4>
<div class="member d-flex justify-content-evenly">
    <div class="member-img"></div>
    <div class="member-details">
        <h5 class="name">Nikhil Reddy</h5>
        <p class="dsgn"> Hello, I am Nikhil Reddy. I am team lead of content management team. Here in Code Monks we will foster young talent and encourage them to write catchy content </p>
    </div>
    <div class="member-img"></div>
    <div class="member-details">
        <h5 class="name">Srinivas </h5>
        <p class="dsgn"> Hello, I am Srinivas. I am team lead of web development team. Here in Code Monks we will strive to deliver code on time</p>
    </div>
</div>
<div class="member-img"></div>
<div class="member-details">
    <h5 class="name">Bhanu</h5>
    <p class="dsgn"> Hello, I am Bhanu. I am head of graphic designer. Here in Code Monks we encorage creative talent to solve bl identity problems of our client</p>
</div>
</div>